<h1>Books#edit</h1>
<!--bookのedit画面=本の編集画面/投稿データの編集画面-->

<!--<div class="row">-->
<!--  <div class="col-xs-offset-3 col-xs-6">-->
<h1>Editing Book</h1>
      <%#= render 'books/error', model: @book %>
      <%#= render 'books/book', book: @book %>
<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

 <!--<div class="field">-->
 <%= f.label :title %><br>
   <%= f.text_field :title %><br/>
 </div>

<!--<div class="field">-->
 <br><%= f.label :body %><br/>
   <%= f.text_area :body %><br/>
</div>


<!--<div class="submit">-->
 <br><%= f.submit 'Update_user' %><br />
</div>


<% end %>

    <div class="menu">
      <%= link_to "Show", book_path(@book) %>
      |
      <%= link_to "Back", books_path %>
    </div>
    </div>
  <!--<div class="col-xs-3"></div>-->
</div>
