<h4>Books#show</h4>
<!--現在ログイン中のユーザーかつ、投稿者であればデータを編集・消去できるようにする-->
<main>
 <%= render 'book' %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
  <thead>
    <tr></tr>
  </thead>
  <tbody>
     <% @books.each do |book| %>
    <table class='table'>
  		  <tr>
          <td>
             <%= link_to user_path(@user) do %>
            <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "default-image.jpeg",size:'80x80',format: 'default-image.jpeg' %><br />
            <%= link_to current_user.name, user_path(current_user) %>
          </td>
          <td><%= link_to book.title, book_path %></td>
            <td><%= book.body %></td>
            <% end %>
            <td>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
            <td>
              <%= link_to 'Destroy',book_path(book), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}" %>
            </td>
        </tr>
          <% end %>
      </tbody>

    </table>
    </div>
   </div>
 </div>
</main>