<h1>Books#show</h1>
<main>
 <%= render 'book' %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <table class='table'>
  		  <tr>
           <td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg",size:'50x50',format: 'no_image.jpg' %>
           <%= link_to(@book) do %>
           <%= link_to current_user.name, user_path(current_user) %>
            <% end %>
          </td>
          <td><%= link_to @book, user_path %></td>
          <td><%= @book %></td>
            <td></td>
            <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</main>
