<!--投稿後に飛んでくるbook_detailページ-->
<!--現在ログイン中のユーザーかつ、投稿者であればデータを編集・消去できるようにする-->
<% if @new_book.errors.any? %>
         <h4><%= @new_book.errors.count %>errors prohibited this book from being saved.</h4>
   　　　　<ul>
   　     <% @new_book.errors.full_messages.each do |message| %>>
    　　　<li><%= message %></li>
    　　　<% end %>
   　　　</ul>
 　　　　</div>
<% end %>

  <main>
   <%= render 'book', user: @user  %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <thead>
          <tr></tr>
        </thead>
         <tbody>
          <table class='table'>
  		      <tr>
            <td>
            <%= link_to user_path (@book.user) do %>
               <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image, size: "100x100" %><br />
               <% else %>
                <%= image_tag 'no_image.jpeg', size: "100x100" %><br />
               <% end %>
              <%= link_to @book.user.name, user_path(@book.user) %>
             <% end %>
            </td>
              <td><%= link_to @book.title, book_path %></td>
              <td><%= @book.body %></td>

               <% if @book.user_id == current_user.id %>
                <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %><td>
                <td><%= link_to 'Destroy',book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
               <% end %>
           </tr>
      </tbody>
    </table>
   </div>
  </div>
 </div>
</main>