<h1>Books#show</h1>
<main>
 <%= render 'book' %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
 <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "default-image.jpeg",size:'80x80',format: 'default-image.jpeg' %>
      <%= link_to(@book) do %>
      </td>
     <td><%= link_to current_user.name, user_path(current_user) %></td>
      <% end %>
      
      <td><%= link_to @book, user_path(current_user) %></td>
        <td></td>
      <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</main>
