<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
           <div class="b">Bookers2</div>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <span><%= link_to "Home",book_path(current_user.id),class:"glyphicon glyphicon-home" %></span>
            <span><%= link_to "Users", users_path,class:"glyphicon glyphicon-book" %></span>
            <span><%= link_to "Books", "/books",class:"glyphicon glyphicon-book" %></span>
           <span><%= link_to "log out", destroy_user_session_path,class:" glyphicon  glyphicon-log-out",method: :delete %></span>

          <% else %>
           <span><%= link_to"Home",root_path,  class:"glyphicon glyphicon-home" %></span>
           <span><%= link_to"About",homes_about_path,class:"glyphicon glyphicon-link" %></span>
           <span><%= link_to"Sign up", "/users/sign_up",class:"glyphicon glyphicon-edit sign_up" %></span>
          <span><%= link_to"login", "/users/sign_in",  class:"glyphicon glyphicon-log-in" %></span>
          <% end %>
        </<ul>
      </nav>
    </div>
  </header>

  <div class= "body">

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>

 <%= yield %>


  <footer>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-3 col-xs-offset-9'>
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
  </body>